<div class="container">



<div class="float-right h-100">
<a href="/">Home</a>
</div>
<br><br><br>
 
<div class="row">
  <div class="col-sm">
      <h2>{{ title }}</h2>
      <p>Nullam quis risus eget <a href="#">urna mollis ornare</a> vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.</p>
  </div>
</div>

<div class="row">
  <div class="col-sm">
    <form>
        <fieldset>
          
          
          <div class="form-group">
            <label for="exampleSelect1">Year</label>
            <select class="form-control" id="exampleSelect1">
              <option>2017</option>
            </select>
          </div>

          <div class="form-group">
            <label for="exampleSelect1">Form</label>
            <select class="form-control" id="exampleSelect1">
              <option>WHO_EPIRF_PC</option>
              <option disabled="disabled">WHO_JRF_PC_v3</option>
              <option disabled="disabled">WHO_JRSM_PC_v3</option>
            </select>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
      </fieldset>
    </form>
  </div>
</div>


</div>